## .NET / Visual Studio ignores

bin/
obj/
*.user
*.suo
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Test results
[Tt]est[Rr]esult*/
*.trx

# EF Core
*.mdf
*.ldf

# OS files
.DS_Store
Thumbs.db
